<section class="hero">
    <div class="overlay">
      <div class="overlay-2">

        <nav class="nav block container">
          <div class="nav__img"></div>
          <div class="nav__content">
            <form action="">
              <select class="dropdown">
                <optgroup></optgroup>
                <option value="1" selected>Eng</option>
                <option value="2">Hin</option>
              </select>
            </form>
            <button class="btn">Sign In</button>
          </div>
        </nav>

        <div style="padding-top: 0;" class="block container">
          <div class="hero__content">
              <h1>Unlimited movies, TV shows and more</h1>
              <p>Unlimited movies, TV shows and more</p>
              <p style="font-size: 1.9rem;">
                Ready to watch? Enter your email to create or restart your
                membership.
              </p>
              <input class="input" placeholder="Email address" type="text" />
              <button class="btn btn--arrow">Get Started</button>
          </div>
        </div>
      </div>
    </div>
  </section>
